@import '@/sass/helpers/_variables.sass'
@import '@/sass/helpers/_mixins.scss'
@import '@/sass/uix/_input.sass'
@import '@/sass/uix/_button.sass'


.meeting-page
  background-color: $gray-50

.sidebar-open
  +size(calc(100vw - 340px), calc(100vh - 60px))
  +padding(60px 0 0 340px)

.sidebar-closed
  +size(calc(100vw - 56px), calc(100vh - 60px))
  +padding(60px 0 0 56px)

.project-content
  height: 100%
  transition: all 0.3s ease