@import '@/sass/helpers/_variables.sass'
@import '@/sass/helpers/_mixins.scss'
@import '@/sass/uix/_input.sass'
@import '@/sass/uix/_button.sass'

@keyframes fadeInUp
  0%
    opacity: 0
    transform: translateY(10px)
  100%
    opacity: 1
    transform: translateY(0)

.mind-map-container
  background-color: $gray-50
  position: relative
  +size(100%, 100%)

  .start-wrap
    +flex-box(center, center, 28px)
    flex-direction: column
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    p
      font-size: 16px
      font-weight: 500
      color: $gray-600
      line-height: 24px
      text-align: center

    .btn-mic
      +flex-box(center, center, 8px)
      +btn(160px, 48px, 50px)
      background-color: $page-color
      color: $white
      font-weight: 700
      font-size: 16px


      &:before
        +size(20px, 20px)
        content : url('@/assets/imgs/icon/mic.svg')


  .mind-map-main
    .mind-map-wrap
      +size(100vw, 100vh)
      max-width: 100%
      max-height: 100%

    .middle-bar
      +size(435px, 64px)
      +flex-box(center, center)
      position: absolute
      bottom: 117px
      border-radius: 16px
      background-color: $gray-100
      left: 50%
      transform: translate(-50%, -50%)

      .record-length-wrap
        +flex-box(center, center, 10px)

        .box-wrap
          +flex-box(center, center, 4.86px)

          .box
            +size(5.5px, 13px)
            background-color: $gray-300

          .red
            background-color: #F05B56

        .box-time
          color: #505457
          font-weight: 500
          line-height: 21px

        .box-menu
          +flex-box(center, center, 10px)

          button
            +btn(40px, 40px, 50px)

          .btn-pause, .btn-resume, .btn-stop
            background-position: center
            background-repeat: no-repeat

          .btn-pause
            background-image: url('/src/assets/imgs/icon/btn_pause.svg')
            background-color: $white

          .btn-resume
            background-image: url('/src/assets/imgs/icon/btn_play.svg')
            background-size: 22px
            background-position: center
            background-color: $white

          .btn-stop
            background-image: url('/src/assets/imgs/icon/btn_stop.svg')
            background-color: #EC2526

        .live-mode-wrap
          +margin(left 10px)
          +flex-box(center, center, 20px)

          &:before
            +size(1px, 24px)
            content: ""
            display: block
            background-color: #C2CCDA


          .btn-live
            display: none

          label
            +size(109px, 40px)
            display: block
            position: relative
            background: #d3d3d3
            border-radius: 60px
            transition: background 0.4s
            cursor: pointer

          label
            &:before
              content: "라이브 모드"
              font-size: 12px
              color: $gray-500
              position: absolute
              top: 50%
              left: 42px
              line-height: 18px
              transform: translateY(-50%)
              transition: left 0.4s

            &:after
              +size(30px, 30px)
              content: ""
              position: absolute
              top: 50%
              left: 6px
              border-radius: 100%
              background-color: #fff
              transform: translateY(-50%)
              box-shadow: 1px 3px 4px rgba(0,0,0,0.1)
              transition: left 0.4s

          #live + label::after
            +background('@/assets/imgs/icon/live_off.svg',no-repeat, center)

          #live:checked + label
            background:$page-color

            &:before
              color: $white
              left: 13px

            &:after
              +background('@/assets/imgs/icon/live_on.svg',no-repeat, center)
              left: calc(100% - 36px)

    .keyword-container
      +size(240px)
      +box-sizing(borde-box)
      +padding(24px 16px)
      position: absolute
      top: 74px
      right: 16px
      background-color: $white
      border-radius: 20px

      h2
        font-size: 20px
        font-weight: bold
        line-height: 30px

      .main-keyword-wrap, .recommend-keyword-wrap
        +padding(top 24px)

        h3
          font-weight: bold
          line-height: 21px

        .keyword-wrap
          +flex-box(center, center, 12px 8px)
          flex-wrap: wrap
          +padding(top 14px)
          transition: all 0.4s ease

          .keyword
            +padding(6px 12px)
            font-size: 13px
            line-height: 19.5px
            text-align: center
            border: 1px solid $gray-200
            border-radius: 50px
            transform: translateY(10px)
            animation: fadeInUp 0.4s ease forwards

          button
            +btn()

            &:before
              content: "+ "

            &:hover
              border: 1px solid $page-color

            &:active
              color: $page-color
              background-color: #EEE8FD
              border: 1px solid $page-color