@import '@/sass/helpers/_variables.sass'
@import '@/sass/helpers/_mixins.scss'
@import '@/sass/uix/_input.sass'
@import '@/sass/uix/_button.sass'

.side-bar
  +size(340px, 100%)
  +box-sizing(border-box)
  border-right: 1px solid $gray-50
  background-color: $gray-50
  position: fixed