$page-color: #5E35F0

// color
$white: #ffffff
$black: #000000

$gray-50: #F7F8FA
$gray-100: #EFF0F2
$gray-300: #D3D4D6
$gray-600: #676869

$purple-400: #7C55F4
$purple-500: #5E35F0
$purple-600: #4F31E9

// font
$font-family-base: Pretendard
$font-size-base: 14px

//error
$error: #ff0000
