@import '@/sass/helpers/_variables.sass'
@import '@/sass/helpers/_mixins.scss'
@import '@/sass/uix/_input.sass'
@import '@/sass/uix/_button.sass'

.navbar-scroll
  background-color: $white
  
.navbar
  position: fixed
  z-index: 999

  +box-sizing(border-box)
  +padding(12px 48px)
  +size(100%, 64px)
  +flex-box(space-between, center)

  .btn
    background-color: $gray-900
    color: $white
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.154px;

    +btn(125px, 40px, 8px)
    +padding(0 16px)
    +box-sizing(border-box)


