@import '@/sass/helpers/_variables.sass'
@import '@/sass/helpers/_mixins.scss'
@import '@/sass/uix/_button.sass'

.side-wrap
  +size(240px, 100%)
  +box-sizing(border-box)
  border-right: 1px solid $gray-50
  background-color: $gray-50
  position: fixed

  .top-wrap
    +padding(12px 16px)
    +flex-box(space-between, center)

    .logo-wrap
      height: 32px

    .new
      cursor: pointer

      +btn(32px, 32px, 8px)
      +background('@/assets/imgs/icon/new_notice.svg',no-repeat, center)

  .user-wrap
    +padding(0 16px)
    
    .user
      +padding(12px)
      +flex-box(normal, center, 8px)
      border-radius: 8px
      background-color: $gray-100
      +background('@/assets/imgs/icon/arrow_down_gray.svg',no-repeat, 175px)

      .user-profile-img
        +size(30px, 30px)
        background-color: $gray-300
        border-radius: 20px

      .info-wrap
        .name
          font-size: 14px
          font-weight: bold
          line-height: 21px

        .email
          font-size: 12px
          color: $gray-600
          font-weight: 500
          line-height: 18px

  .list-wrap
    +padding(20px 16px)

    .list-li
      +flex-box(normal, center, 8px)
      +padding(8px 12px)
      line-height: 21px
      border-radius: 8px
      letter-spacing: -0.154px
      cursor: pointer

      &:before
        display: block
        +size(18px, 18px)

    .project::before
      content : url('@/assets/imgs/icon/project.svg')

    .record
      &:before
        content : url('@/assets/imgs/icon/mic.svg')
      
      .flex
        gap: 5px

      .dot
        +flex-box(center, center, 5px)

        &:before
          +size(2px, 2px)
          display: block
          content: ""
          border-radius: 1px
          background: $gray-600

    .summary::before
      content : url('@/assets/imgs/icon/note.svg')
      
    .active
      font-weight: bold
      background-color: $gray-100

  .time-wrap
    +size(100%)
    +padding(16px)
    +box-sizing(border-box)
    position: absolute
    bottom: 0
    border-top: 1px solid $gray-200

    .time-wrap-p
      font-size: 12px
      font-weight: 500
      line-height: 18px

    .time
      line-height: 21px
      font-weight: 500
      
      .time-b
        color: $purple-500
    
    .bar
      +size(100%, 8px)
      +margin(12px 0)
      border-radius: 50px
      background: $gray-200
      
      .status
        +size(184px, 8px)
        background: $purple-400
        border-radius: 50px
    
    .remainder
      font-size: 12px
      font-weight: 500
      line-height: 18px
      color: $gray-700
          
